
/* Partners */
.flex-partners{
    display: flex;
    justify-content: space-between;
}
.flex-partners img{
    width: 80%;
}


/* Contact Section */
.contact-flex{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.contact-us h2{
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding-top: 120px;
    text-align: center;
}

h4{
    padding: 0 0 40px 0;
    font-style: italic;
    color: var(--gray);
    text-align: center;
}
.contact-us{
    background: url(https://learn.seytech.co/assets/projects/html-css/projects/1-agency/assets/img/map-image.png);
    background-color: #212529;
    height: 100vh;
    margin-top: 50px;
}

input[type="text"], input[type="email"], input[type="tel"]{
    border:none;
    padding: 20px 250px 20px 20px;
    font-size: 1.1rem;
    color: var(--secondary);
    border-radius: 7px;
    font-weight: bold;
}
.each-form{
    margin: 20px;
}

textarea{
    border-radius: 7px;
    height: 225px;
    margin-top: 20px;
    width: 500px;
}
.form{
    padding: 20px 0 0 20px;
    font-size: 1.1rem;
    color: var(--secondary);
    font-weight: bold;
    border: none;
}

.btn{
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--yellow);
    border: none;
    padding: 25px 60px;
    border-radius: 7px;
    font-weight: bold;
    display: block;
    width: 300px;
    margin:auto;
    text-align: center;
    transition: transform 0.2s ease-in;
}

.btn:hover{

/* Our Amazing Team */

.portfolio-photos{
    display: flex;
    justify-content: space-between;
    }
    
    .team img{
        border-radius: 50%;
        margin: 20px;
        width: 200px;
        border: solid rgb(167, 162, 162) 10px;
    }
    
    .team h2{
        color: black;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        margin-top: 70px;
        text-align: center;
        padding-bottom: 0;
    
    }
    
    .team h3{
        color: black;
        font-size: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        margin-top: 70px;
        text-align: center;
        padding-top: 0;
        margin-top: 10px;
        padding-bottom: 0;
    }
    
    .team h4{
        font-style: italic;
        color: var(--gray);
        margin-bottom: 20px;
        text-align: center;
        margin: 10px 0 50px 0;
        padding: 0;
    }
    
    
    .team p{
        color: var(--gray);
        text-align: center;
    }
    .social-logos{
        display: flex;
        justify-content: center;
    }
    .team i{
        margin: 0 8px;
    }
    .team .twitter, .facebook, .linkedin{
    border-radius: 50%;
    border: var(--gray-dark) solid 1px;
    background-color: var(--gray-dark);
    color: var(--white);
    margin: 10px;
    padding: 10px;
    }
    
    .team p{
        margin: 30px 0 100px 0;
    }
    

/* Portfolio */
.portfolio img{
    width: 350px;
}
.portfolio .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.boxes{
   background-color: white;
   text-align: center;
}

.portfolio h2{


/* Section Services */
.services h2{
    color: black;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: 70px;
    text-align: center;
    padding-bottom: 0;

}

.portfolio h3{
    color: black;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 70px;
    text-align: center;
    padding-top: 0;
    margin-top: 10px;
    padding-bottom: 0;
}

.portfolio h4{
    font-style: italic;
    color: var(--gray);
    margin-bottom: 20px;
    text-align: center;
    margin: 10px 0 50px 0;
    padding: 0;
}

.boxes{
    width: 100%;
    height: 100%;
}

.images {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.card-image img{
    opacity: 1;
    height: 108%;
    width: 100%;
    backface-visibility: hidden;
    display: block;
}
.card-icon-group {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(254, 209, 54, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.card-image:hover .card-icon-group {
    opacity: 0.9;
    transition-duration: 0.25s;
}
.icon{
    color: white;
    margin: auto;
}
.services h4{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: var(--gray);
    margin-bottom: 60px;
    text-align: center;
}

.icon-e-commerce, .icon-responsive-design, .icon-web-security{
    height: 2.8em;
    width: 3em;
    border: 1px yellow solid;
    border-radius: 50%;
    background: var(--primary);
    font-size: 3em;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services i{
    font-size: 1.5em;
    color: white;
    text-align: center;
}

.services p{
    color: var(--gray);
    text-align: center;
}

.services h3{
    padding: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.services-flex{
    display: flex;
    justify-content: space-between;
}
.services p{
    margin: 0 40px;
    line-height: 1.5rem;
}

/* Global Settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 --blue: #007bff;
 --indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #fed136;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #fed136;
 --secondary: #6c757d;
 --success: #28a745;
 --info: #17a2b8;
--warning: #fed136;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
}

body{
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

a{
    text-decoration: none; 
}

ul{
    list-style: none;
}

p{
    padding: 1em 0;
}

h2, h4{
    font-family: 'Montserrat', sans-serif;
    padding: 1em 0;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

img{
    width: 100%;
}

.container{
    max-width: 1100px;
    margin: 0 auto;

}

/* Header (Navbar) */

.header{
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background: transparent;
    gap: 100px;
    z-index: 1;
    background: rgba(248, 249, 250,0);
    
   
}

.logo a{
    color: var(--yellow);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 0;
}

.navbar ul{
    display: flex;
    
    
}
.navbar ul li{
    font-family: 'Montserrat', sans-serif;
    margin: 0 20px;
    color: var(--light);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.95rem;

}

.navbar ul li a{
    color: var(--light);
}
.navbar ul li a:hover{
    color: var(--yellow);
    border-bottom: yellow;
}


/* Showcase */

.showcase{
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.bg-image{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: url(https://learn.seytech.co/assets/projects/html-css/projects/1-agency/assets/img/header-bg.jpg);
    background-size: cover;
    background-position: center center;
}

.showcase .welcome{
    padding: 20px;
    font-style: italic;
    color: var(--light);
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    letter-spacing: 1.5px;
}
.showcase .meet{
    color: var(--light);
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    
}
.showcase a{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: var(--yellow);
    border: none;
    padding: 25px 60px;
    border-radius: 7px;
    font-weight: bold;
    color: var(--light);
    transition: transform 0.2s ease-in;
}

.showcase a:hover{
    transform: translateY(-15px);
}
